/** COLORS
 *  Blanco: #FFFFFF
 *  Hielo: #F2F2F2
 *  Gris claro: #999999
 *  Gris: #808080
 *  Gris oscuro: #1A1919
 *  Negro: #0D0D0D
 *  Naranja claro: #FF7733
 *  Naranja: #FF5500
 *  Naranja oscuro: #B23C00
*/

/* MOBILE-FIRST BY DEFAULT*/
body {
    background-color: #FFFFFF;
    color: #1A1919;
    font-family: "Urbanist";
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: "Urbanist";
    src: url("./font/Urbanist/static/Urbanist-Regular.ttf");
}

/* HEADER */
.header {
    height: 96px;
}

nav {
    background-color: #F2F2F2;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 342px;
    height: 96px;
    margin: 24px auto;
    padding: 0;
}

.header-image {
    margin: 0 0 0 32px;
    padding: 0;
}

.header-image img {
    width: 54px;
    height: 32px;
}

.header-description {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-description p {
    color: #FF5500;
    margin: 0;
}

.header-hamburguer-menu {
    margin: 0 32px 0 0;
    padding: 0;
}

.header-hamburguer-menu img {
    width: 44px;
    height: 44px;
}

/* MAIN */

/* BOX 1 */
.box-1 {
    width: 342px;
    height: 800px;
    margin: 24px auto;
    padding: 0;
}

.article-1 {
    background-color: #F2F2F2;
    border-radius: 16px;
    background-image: url(./images/iphone_background.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 310px;
    width: 342px;
    height: 433px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
}

.article-1 h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 32px;
    padding: 32px 0 24px 0;
}

.article-1 p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 32px;
    padding: 0;
}

.article-2 {
    width: 342px;
    margin: auto;
    padding: 0;
}

.article-2 .gif {
    width: 342px;
    height: 342px;
}

.article-2 .scroll {
    display: none;
}

/* BOX 2 */
.box-2 {
    background-image: url(./images/video.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 342px;
    height: 483px;
    margin: 0 auto 120px auto;
}

.boxes-arriba {
    display: flex;
    justify-content: left;
    width: auto;
    height: 59px;
    margin: 32px 32px 0 32px;
}

.boxes-arriba-unidad {
    border-radius: 8px;
    display: grid;
    place-items: center;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
    padding: 0 24px;
}

.color-diferente {
    background-color: #f2f2f25b;
}

.color-diferente a {
    text-decoration: none;
    color: #1A1919;
}

.arriba-hidde {
    display: none;
}

.boxes-abajo {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    width: auto;
    height: 59px;
    margin: 0 32px 32px 32px;
}

/* BOX 3 */
.box-3 {
    width: 342px;
    margin: 0 auto 120px auto;
}

.box-3 h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.box-3 p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* SPACE */
.space {
    width: 159px;
    margin: 0 auto 120px auto;
}

.space div {
    background-color: #999999;
    width: 159px;
    height: 1px;
}

/* BOX 4 */
.box-4 {
    width: 342px;
    margin: 0 auto 96px auto;
    padding: 0;
}

.box-4 > h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 40px 0;
}

.procesos {
    margin: 0;
    padding: 0;
}

.proceso-box {
    background-color: #F2F2F2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 342px;
    height: 340px;
    margin: 0 0 24px 0;
    padding: 0;
}

.proceso-box h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 32px 32px 32px;
    padding: 0;
}

.proceso-box p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 32px 32px 32px;
    padding: 0;
}

.box-image-1 {
    background-image: url(./images/search.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

.box-image-2 {
    background-image: url(./images/judge.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

.box-image-3 {
    background-image: url(./images/status-up.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

.box-image-4 {
    background-image: url(./images/tick-circle.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

/* BOX 5 */
.box-5 {
    width: 342px;
    margin: 0 auto 120px auto;
    padding: 0;
}

.box-5 > h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 00;
    padding: 0;
}

.servicos {
    margin: 0;
    padding: 0;
}

.servicos-box {
    padding: 0;
    margin: 80px 0 0 0;
}

.space-2 {
    display: flex;
    justify-content: center;
    margin: 0 0 120px 0;
}

.space-2 div {
    background-color: #FF5500;
    width: 64px;
    height: 10px;
}

.servicos-box h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 40px 0;
    padding: 0;
}

.servicos-box p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* BOX-6 */
.box-6 {
    width: 342px;
    margin: 0 auto 120px auto;
    padding: 0;
}

.cliente-1 {
    background-color: #FF5500;
    border-radius: 16px;
    width: 342px;
    height: 354px;
    background-image: url(./images/arrow-right.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 250px;
    padding: 0;
    margin: 0 0 24px 0;
}

.cliente-1 h1 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    padding: 32px 0 0 0;
    margin: 0 32px;
}

.cliente-2 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 16px;
    width: 342px;
    height: 470px;
    background-image: url(./images/apple.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
    padding: 0;
    margin: 0 0 24px 0;
}

.cliente-2 h1 {
    color: #1A1919;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    margin: 0 32px 32px 32px;
}

.cliente-2 p {
    color: #1A1919;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0 32px 64px 32px;
}

.cliente-2 a {
    border-bottom: 1px solid #FF5500;
    color: #FF5500;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
    padding: 0 0 9px 0;
    margin: 0 32px 32px 32px;
}

.cliente-3 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 16px;
    width: 342px;
    height: 470px;
    background-image: url(./images/nike.svg);
    background-size: 119px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 56px;
    padding: 0;
    margin: 0;
}

.cliente-3 h1 {
    color: #1A1919;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    margin: 0 32px 32px 32px;
}

.cliente-3 p {
    color: #1A1919;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0 32px 64px 32px;
}

.cliente-3 a {
    border-bottom: 1px solid #FF5500;
    color: #FF5500;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
    padding: 0 0 9px 0;
    margin: 0 32px 32px 32px;
}

/* BOX 7 */
.box-7 {
    width: 390px;
    margin: 0 auto 120px auto;
}

.box-7 > h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 80px 0;
    padding: 0;
}

.equipe {
    width: 390px;
    margin: 0;
    padding: 0;
}

.equipe-box {
    display: flex;
    width: 390px;
    height: 328px;
    padding: 0;
    margin: 0;
}

.info-1 {
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
    padding: 0;
}

.info-1 h1 {
    color: #FF5500;
    font-size: 20px;
    font-weight: 700;
    margin: 0 24px 16px 16px;
    padding: 0;
}

.info-1 h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin: 0 24px 16px 16px;
    padding: 0;
}

.info-1 p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin: 0 24px 24px 16px;
    padding: 0;
}

/* BLOG */
.blog {
    background-color: #0D0D0D;
    border-radius: 16px;
    width: 342px;
    height: 424px;
    margin: 0 auto 120px auto;
    padding: 0;
}

.title-link {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 32px 20px 32px;
    padding: 32px 0 0 0;
}

.title-link h1 {
    color: #FF5500;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.title-link a {
    margin: 0;
    padding: 0;
}

.p-blog {
    margin: 0 32px;
    padding: 0;
}

.p-blog > p {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* VAMOS CONVERSAR */
.vamos-conversar {
    background-color: #FF5500;
    border-radius: 16px;
    width: 342px;
    height: 326px;
    margin: 0 auto 24px auto;
    padding: 0;
}

.vamos-conversar h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 32px 32px 32px;
    padding: 32px 0 0 0;
}

.vamos-conversar p {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 32px;
    padding: 0;
}

/* Formulario */
form {
    background-color: #F2F2F2;
    border-radius: 16px;
    width: 342px;
    height: 496px;
    margin: 0 auto 24px auto;
}

.form-info,
.form-submit {
    width: 278px;
    margin: 0 32px;
}

.form-info input,
.form-info textarea {
    height: 40px;
    /* margin: 0 0 40px 0; */
}

#name {
    margin-top: 32px;
    margin-bottom: 40px;
}

#email,
#mensagem {
    margin-bottom: 40px;
}

#conhecer {
    margin-bottom: 70px;
}

.form-info input:focus,
.form-info textarea:focus {
    outline: none;
}

input,
textarea {
    background-color: transparent;
    width: 100%;
    color: #808080;
    font-size: 20px;
    font-family: "Urbanist";
    border-style: none;
    border-bottom: 1px solid #999999;
    padding: 0;
}

.form-submit button {
    margin: 0 0 32px 0;
    height: 70px;
}

button {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #FF5500;
    border-radius: 8px;
    border-style: none;
    width: 100%;
}

button:hover {
    cursor: pointer;
    font-size: 22px;
    transition: 0.15s;
}

/* CONTATO */
.box-8 {
    background-color: #F2F2F2;
    /* display: flex;
    flex-direction: column; */
    width: 342px;
    height: 287px;
    border-radius: 16px;
    margin: 0 auto 120px auto;
}

.telefone {
    margin: 0 32px 40px 32px;
    padding: 0;
}

.telefone h1 {
    color: #FF5500;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 8px 0;
    padding: 32px 0 0 0;
}

.telefone p {
    color: #FF5500;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.email {
    margin: 0 32px 40px 32px;
    padding: 0;
}

.email h1 {
    color: #FF5500;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 8px 0;
    padding: 0;
}

.email p {
    color: #FF5500;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.social {
    margin: 0 32px;
}

.social a {
    margin-right: 24px;
    text-decoration: none;
}

/* FOOTER */
.footer {
    background-color: #FF5500;
    width: 390px;
    height: 305px;
    margin: 0 auto;
}

.box-footer {
    width: 342px;
    height: 257px;
    margin: 0 auto;
    padding: 0;
}

.logo-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 0 15.5px 40px 15.5px;
    padding: 24px 0 0 0;
}

.logo-white-footer img {
    margin: 0;
    padding: 0;
}

.copyright {
    display: flex;
    margin: 0;
    padding: 0;
}

.copyright p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 16px;
}

.datos {
    align-self: center;
    text-align: center;
    margin: 0 39.5px;
    padding: 0;
}

.datos p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
    margin: 0 auto 25px auto;
    padding: 0;
}

.datos a {
    text-decoration: none;
}

.social-footer {
    text-align: center;
    margin: 40px 39.5px 24px 39.5px;
    padding: 0;
}

.social-footer a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-inline: 12px;
}