/** COLORS
 *  White: #FFFFFF
 *  Grey: #F2F2F2
 *  Orange: #FF5500
 *  Light-Orange: #FF7733
*/

/* MOBILE-FIRST BY DEFAULT*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: "Urbanist";
    color: black;
    margin: 0;
}

@font-face {
    font-family: "Urbanist";
    src: url("../Aro/font/Urbanist/static/Urbanist-Regular.ttf");
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

nav {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 24px 24px 24px;
    padding: 0 24px 0 24px;
    width: 100%;
    height: 96px;
}

.header-image {
    background-color: #522B5B;
    display: grid;
    place-items: center;
    flex-grow: 1;
    height: 75%;
}

.header-description {
    background-color: #522B5B;
    color: transparent;
    display: grid;
    place-items: center;
    flex-grow: 5;
    margin-left: 5px;
    margin-right: 5px;
    height: 75%;
}

.header-hamburguer-menu {
    background-color: #522B5B;
    display: grid;
    place-items: center;
    flex-grow: 1;
    height: 75%;
}

/* MAIN */
.main {
    /* background-color: #854F6C; */
    width: 100%;
}

.box-1 {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 24px 24px 24px;
}

.article-1 {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: grid;
    place-items: center;
    width: 100%;
    height: 433px;
    margin-bottom: 24px;
}

.article-2 {
    width: 100%;
    height: 433px;
}

.gif {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: grid;
    place-items: center;
    height: 100%;
}

.scroll {
    background-color: #F2F2F2;
    visibility: hidden;
}

.box-2 {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 483px;
    margin: 0 24px 0 24px;
    padding: 40px;
}

.boxes-arriba {
    display: flex;
    width: auto;
}

.boxes-arriba-unidad {
    background-color: #FF7733;
    border-radius: 15px;
    display: grid;
    place-items: center;
    width: fit-content;
    height: 65px;
    padding: 0 10px 0 10px;
    margin-right: 10px;
}

.arriba-hidde {
    display: none;
}

.boxes-abajo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boxes-abajo-unidad {
    background-color: #FF7733;
    border-radius: 15px;
    display: grid;
    place-items: center;
    width: fit-content;
    height: 65px;
    margin-right: 10px;
}

/* FOOTER */
.footer {
    background-color: #FF5500;
    display: grid;
    place-items: center;
    width: auto;
    height: 100px;
    margin-top: 24px;
}

/* OTHER DIMENSIONS */
@media (min-width: 768px) {

    nav {
        height: 128px;
    }

    .header-description {
        background-color: #522B5B;
        color: black;
        display: grid;
        place-items: center;
        flex-grow: 5;
        margin-left: 5px;
        margin-right: 5px;
        height: 75%;
    }

    .box-1 {
        display: flex;
        flex-direction: row;
        width: auto;
        margin: 0 24px 24px 24px;
    }

    .article-1 {
        background-color: #F2F2F2;
        border-radius: 15px;
        display: grid;
        place-items: center;
        width: 60%;
        height: 800px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .article-2 {
        width: 40%;
        height: 800px;
    }

    .gif {
        background-color: #F2F2F2;
        border-radius: 15px;
        display: grid;
        place-items: center;
        height: 58.7%;
        margin-bottom: 10px;
    }

    .scroll {
        background-color: #F2F2F2;
        border-radius: 15px;
        display: grid;
        place-items: center;
        height: 40%;
        visibility: visible;
    }

    .box-2 {
        background-color: #F2F2F2;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: 944px;
        margin: 0 24px 0 24px;
        padding: 40px;
    }

    .boxes-arriba {
        display: flex;
        width: 50%;
    }

    .boxes-arriba-unidad {
        background-color: #FF7733;
        border-radius: 15px;
        display: grid;
        place-items: center;
        width: fit-content;
        height: 65px;
        margin-right: 10px;
    }

    .arriba-hidde {
        visibility: visible;
    }

    .boxes-abajo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .boxes-abajo-unidad {
        background-color: #FF7733;
        border-radius: 15px;
        display: grid;
        place-items: center;
        width: fit-content;
        height: 65px;
        margin-right: 10px;
    }

}