/** COLORS
 *  Blanco: #FFFFFF
 *  Hielo: #F2F2F2
 *  Gris claro: #999999
 *  Gris: #808080
 *  Gris oscuro: #1A1919
 *  Negro: #0D0D0D
 *  Naranja claro: #FF7733
 *  Naranja: #FF5500
 *  Naranja oscuro: #B23C00
*/

/* MOBILE-FIRST BY DEFAULT*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    color: #0D0D0D;
    font-family: "Urbanist";
    margin: 0;
}

@font-face {
    font-family: "Urbanist";
    src: url("../Aro/font/Urbanist/static/Urbanist-Regular.ttf");
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

nav {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 24px 24px 24px;
    padding: 0 24px 0 24px;
    width: 100%;
    height: 96px;
}

.header-image {
    display: grid;
    place-items: center;
    flex-grow: 1;
    height: 75%;
}

.header-image img {
    width: 56px;
}

.header-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 32px;
    color: transparent;
    flex-grow: 5;
    margin-left: 5px;
    margin-right: 5px;
    height: 75%;
}

.header-hamburguer-menu {
    display: grid;
    place-items: center;
    flex-grow: 1;
    height: 75%;
}

.header-hamburguer-menu img {
    width: 44px;
}

/* MAIN */
.main {
    width: 100%;
}

/* BOX 1 */
.box-1 {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 24px 24px 24px;
}

.article-1 {
    background-color: #F2F2F2;
    background-image: url(./images/iphone_background.svg);
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 433px;
    margin-bottom: 24px;
}

.article-1 h1 {
    margin: 32px 32px 12px 32px;
    font-size: 32px;
}

.article-1 p {
    color: #0D0D0D;
    margin: 0 32px 0 32px;
    font-size: 20px;
}

.article-2 {
    width: 100%;
    height: 342px;
}

.gif {
    border-radius: 15px;
    display: grid;
    place-items: center;
    height: 342px;
}

.scroll {
    display: none;
}

/* BOX 2 */
.box-2 {
    background-image: url(./images/video.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 483px;
    margin: 0 24px 120px 24px;
    padding: 32px;
}

.boxes-arriba {
    display: flex;
    width: auto;
}

.boxes-arriba-unidad {
    background-color: #FF7733;
    border-radius: 8px;
    display: grid;
    place-items: center;
    width: fit-content;
    height: 65px;
    padding: 0 10px 0 10px;
    gap: 10px;
}

div .color-diferente {
    font-size: 16px;
    background-color: #9999998a;
}

.arriba-hidde {
    display: none;
}

.boxes-abajo {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 35px;
    width: 100%;
}

.boxes-abajo-unidad {
    border-radius: 15px;
    display: grid;
    place-items: center;
    width: fit-content;
    padding: 0 10px 0 10px;
}

/* BOX 3 */
.box-3 {
    /* background-color: #F2F2F2; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: auto;
    margin: 0 24px 0 24px;
}

.box-3 h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    /* margin-bottom: 40px; */
}

.box-3 p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 120px;
}

/* SPACE */
.space {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.space div {
    background-color: #999999;
    width: 159px;
    height: 1.15px;
}

/* BOX 4 */
.box-4 {
    display: flex;
    flex-direction: column;
    /* text-align: center;
    justify-content: center; */
    margin: 0 24px 120px 24px;
    padding: 0;
}

.box-4 h1 {
    align-self: center;
    font-size: 40px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 40px 0;
}

.procesos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.proceso-box {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 342px;
    height: 340px;
}

.proceso-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(./images/search.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

.proceso-1 h1 {
    align-self: flex-start;
    font-size: 32px;
    font-weight: 700;
    padding: 0 32px;
    margin: 0 0 32px 0;
}

.proceso-1 p {
    font-size: 20px;
    padding: 0 32px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

.proceso-2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(./images/judge.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

.proceso-2 h1 {
    align-self: flex-start;
    font-size: 32px;
    font-weight: 700;
    padding: 0 32px;
    margin: 0 0 32px 0;
}

.proceso-2 p {
    font-size: 20px;
    padding: 0 32px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

.proceso-3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(./images/status-up.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

.proceso-3 h1 {
    align-self: flex-start;
    font-size: 32px;
    font-weight: 700;
    padding: 0 32px;
    margin: 0 0 32px 0;
}

.proceso-3 p {
    font-size: 20px;
    padding: 0 32px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

.proceso-4 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(./images/tick-circle.svg);
    background-size: 72px;
    background-repeat: no-repeat;
    background-position-x: 32px;
    background-position-y: 32px;
}

.proceso-4 h1 {
    align-self: flex-start;
    font-size: 32px;
    font-weight: 700;
    padding: 0 32px;
    margin: 0 0 32px 0;
}

.proceso-4 p {
    font-size: 20px;
    padding: 0 32px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

/* BOX 5 */
.box-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 24px 80px 24px;
}

.box-5 h1 {
    align-self: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 80px 0;
}

/* SPACE */
.space-2 {
    display: flex;
    justify-content: center;
}

.space-2 div {
    background-color: #FF5500;
    width: 64px;
    height: 10px;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos-box {
    display: grid;
    place-items: center;
    width: 342px;
    height: 228px;
    margin-bottom: 40px;
}

.servicos-box h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 40px 0 40px 0;
}

.servicos-box p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

/* BOX-6 */
.box-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 24px 0px 24px;
}

.clientes {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: grid;
    place-items: center;
    width: 342px;
    height: 354px;
    margin-bottom: 24px;
}

/* BOX 7 */
.box-7 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 100px 0;
}

.equipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equipe-box {
    display: grid;
    place-items: center;
    background-color: #F2F2F2;
    border: 1px solid #999999;
    width: 378px;
    height: 400px;
}

/* BLOG */
.blog {
    background-color: #0D0D0D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px 100px 24px;
    padding: 24px 36px;
}

.blog h1 {
    color: #FF5500;
    width: auto;
    padding: 0;
    margin: 0 0 24px 0;
}

.blog p {
    color: #FFFFFF;
    width: auto;
    padding: 0;
    margin: 0;
}

/* VAMOS CONVERSAR */
.vamos-conversar {
    background-color: #FF5500;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px 24px 24px;
    padding: 24px 36px;
}

.vamos-conversar h1 {
    color: #FFFFFF;
    width: auto;
    padding: 0;
    margin: 0 0 24px 0;
}

.vamos-conversar p {
    color: #FFFFFF;
    width: auto;
    padding: 0;
    margin: 0;
}

/* Formulario */
form {
    background-color: #F2F2F2;
    border-radius: 15px;
    display: grid;
    place-items: center;
    width: auto;
    height: 492px;
    padding: 0 24px;
    margin: 0 24px 24px 24px;
}

.form-info, .form-submit {
    width: 100%;
    max-width: 500px;
}

.form-info input, .form-info textarea {
    height: 40px;
    margin-bottom: 20px;
}

input, textarea {
    background-color: transparent;
    width: 100%;
    color: #808080;
    font-size: 20px;
    font-family: "Urbanist";
    border-style: none;
    border-bottom: 1px solid #999999;
}

.form-submit button {
    height: 70px;
}

button {
    color:#FFFFFF;
    font-size: 20px;
    background-color: #FF5500;
    border-radius: 8px;
    border-style: none;
    width: 100%;
}

/* FOOTER */
.footer {
    background-color: #FF5500;
    display: grid;
    place-items: center;
    width: auto;
    height: 100px;
    margin-top: 24px;
}

/* OTHER DIMENSIONS */
/* @media (min-width: 768px) {

    h1 {
        font-size: 64px;
        font-weight: bold;
    }

    p {
        font-size: 48px;
    }

    nav {
        height: 128px;
    }

    .header-description {
        color: #FF5500;
    }

    .header-description p {
        border-left: 1px solid #FF5500;
        padding-left: 24px;
    }

    .box-1 {
        flex-direction: row;
    }

    .article-1 {
        width: 60%;
        height: 800px;
        margin-right: 24px;
        margin-bottom: 0;
    }

    .article-2 {
        width: 40%;
        height: 800px;
    }

    .gif {
        height: 592px;
        margin-bottom: 24px;
    }

    .scroll {
        background-color: #F2F2F2;
        border-radius: 15px;
        display: grid;
        place-items: center;
        height: 184px;
        visibility: visible;
    }

    .box-2 {
        height: 944px;
    }

    .boxes-arriba {
        width: 50%;
    }

    .boxes-arriba-unidad {
        background-color: #FF7733;
        border-radius: 15px;
        display: grid;
        place-items: center;
        width: fit-content;
        height: 65px;
        padding: 0 10px 0 10px;
        margin-right: 10px;
    }

    .arriba-hidde {
        visibility: visible;
    }


    .boxes-abajo-unidad {
        background-color: #FF7733;
        border-radius: 15px;
        display: grid;
        place-items: center;
        width: fit-content;
        height: 65px;
        margin-right: 10px;
        padding: 0 10px 0 10px;
    }

} */